@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Regular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-MediumItalic.woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Italic.woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-SemiBoldItalic.woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: "Albert Sans", sans-serif;
}


::-moz-selection {
  color: white;
  background: #366fe1;
}

::selection {
  color: white;
  background: #366fe1;
}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
